<div class="container-fluid col-10" style="margin-top: 10px;" id="changePassword">
    <div class="card" style="border: solid 1px; height: 33rem;">
        <div class="card-header" id="cardHeaderForCreateUser">
            <h3 class="font-weight-normal text-white text-center" style="margin-top: 5px;"> CHANGE PASSWORD </h3>
        </div>
        <div class="card-body">
            <form [formGroup]='formGroup'>
                <div class="col-6 offset-3 mt-4">
                    <div class="form-group">
                        <div class="text-center">
                            <span style="color:red; text-align: center;">{{invalidMsg}}</span>
                        </div>
                        <label class="font-weight-bold">Current Password:<sup class="text-danger">*</sup></label>
                        <input type="password" class="form-control" id="currentPassword" name="currentPassword" 
                        formControlName='currentPassword' placeholder="Current Passwword" style="border: solid 1px;">
                        <div *ngIf='currentPassword.invalid && (currentPassword.dirty || currentPassword.touched)' class="text-danger">
                            <div *ngIf='currentPassword.errors.required'>Current Password Required</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 offset-3">
                    <div class="form-group">
                        <label class="font-weight-bold">New Password:<sup class="text-danger">*</sup></label>
                        <input type="password" class="form-control" id="newPassword" name="newPassword" 
                        formControlName='newPassword' placeholder="New Passwword" style="border: solid 1px;">
                        <div *ngIf='newPassword.invalid && (newPassword.dirty || newPassword.touched)' class="text-danger">
                            <div *ngIf='newPassword.errors.required'>New Password Required</div>
                            <div *ngIf='newPassword.errors.minlength'>New Password Should Contains Atleast 5 character</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 offset-3">
                    <div class="form-group">
                        <label class="font-weight-bold">Confirm Password:<sup class="text-danger">*</sup></label>
                        <input type="password" class="form-control" id="confirmPassword" formControlName='confirmPassword'
                         name="confirmPassword" placeholder="Confirm Password" style="border: solid 1px;">
                         <div *ngIf='confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)' class="text-danger">
                            <div *ngIf='confirmPassword.errors.required'>Confirm Password Required</div>
                            <div *ngIf='confirmPassword.errors.minlength'>Confirm Password Should Contains Atleast 5 character</div>
                            <div *ngIf="confirmPassword.errors.ConfirmPassword">Invalid password</div>
                        </div>
                    </div>
                </div>
            </form>
            <br>
            <div class="form-row ">
                <div class="col col-3 offset-3">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block font-weight-bold" (click)="updateNewPassword()" [disabled] = "formGroup.invalid">SAVE</button>
                    </div>        
                </div>
                <div class="col col-3 offset-0">
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-block" (click)="hideThis()">CANCEL</button>
                    </div>        
                </div>
            </div>
            <div class="text-center">
                <span style="color:rgb(55, 0, 255);">{{responseMsg}}</span>
            </div>

        </div>

    </div>


</div>